<table class="action_menu"><tr>
    <td>
      <span id="rename_link" class="action_menu_item" <%='style="display:none"' if (session[:user].id==1) %>>
        <a onclick="rename_thing()" class="small_link" href="#">rename</a>
      </span>
      <span>&nbsp;</span>
      <span id="show_tags_link" class="action_menu_item" <%='style="display:none"' if @thing.tags.length==0 %>>
        <a onclick="toggle_tags(this)" class="small_link" href="#">show tags</a>
      </span>
    </td>
  </tr></table>