<%remote_form_for(:thing, 
  @thing,
  :url=>add_tag_url(:id=>@thing),
  :method => :post) do |f|%>
<div class="new_tag_key_value">
  <div>Add Tag / Member ('has' or 'in' for Members)</div>
  <div class="new_tag_key"><span>Key</span>
    <%=f.text_field(:key, :size=>10)%>
  </div>
  <div class="new_tag_value"><span>Value</span>
    <%=f.text_field(:value, :size=>10)%>
  </div>
    <%=submit_tag('Add Tag')%>
</div>
<%end -%>
