<!--member layer-->
<div class="tag_list_container">
  <table class="tag_list">
    <%@thing.tags.each do |tg|%>
      <tr class="tag_list">
        <%unless (session[:search] || session[:user].id==1)%>
        <td><%=link_to_remote('[d]',
          :url=>{:action=>'delete_tag',:tag_id=>tg.id, :method=>'post'})%>
        </td>
        <%end%>
        <td class="tag_list_key">
          <%=tg.key%>
        </td>
        <td class="tag_list_value">
            <span><%=tg.value%></span>
        </td>
      </tr>
    <%end%>
  </table>
</div>
