<!--member layer-->
<div class="tag_list_container">
  <table class="tag_list">
    <%@thing.tags.each do |tg|%>
      <tr class="tag_list">
        <%if session[:mode]=='edit'%>
        <td><%=link_to('Del',delete_tag_url(:thing_id=>@thing.id,:tag_id=>tg.id))%>
        </td>
        <%end%>
        <td class="tag_list_key">
          <%=tg.key%>
        </td>
        <td class="tag_list_value">
            <span><%=tg.value%></span>
        </td>
      </tr>
    <%end%>
  </table>
</div>
