<p>
  <span id="parent_thing_name_wrapper" thing_id="<%=@thing.parent.id if @thing.parent%>">
    <a onclick="browse(this)" class="small_link" href="#"><%=@thing.parent.name if @thing.parent%></a>
  </span>
</p>
<p>
  <span id="thing_name_wrapper"><%=h @thing.name -%></span>
</p>

