<p>
  <span id="parent_thing_name_wrapper" class="prompt_link" thing_id="<%=@thing.parent.id%>">
    <%=link_to_function @thing.parent.name,"browse(this)"%>
  </span>
</p>
<p>
<span id="thing_name_wrapper"><%=h @thing.name -%></span>
<span id="rename_link" class="prompt_link"><%=link_to_function 'rename','rename_thing()' unless (session[:search] || session[:user].id==1)%></span>
</p>