<!--tag layer-->
<div class="tags_container" style="display:none">
  <table class="tags">
    <%@thing.tags.each do |tg|%>
      <tr class="tag">
        <td class="tag">
          <%unless session[:user].id==1%>
            <span><%=link_to_function('[d]','delete_tag(this)')%>
            </span>
          <%end%>
          <span class="tag_key">
            <%=tg.key%>
          </span>
          <span>:</span>
          <span class="tag_value">
            <span><%=tg.value%></span>
          </span>
        </td>
      </tr>
    <%end%>
  </table>
</div>
