    <!--search layer-->
    <%form_tag(thing_url(@thing[:id]),{:method=>'get', :id=>'thing_form'}) do%>
    <div class="search">
        <p><%=text_field(:thing,:search, :size=>20)%><%= submit_tag 'Search' %></p>
      </div>
    <%end -%>
   