root { 
    display: block;
}

body {
	font: 8pt times, serif;
}

input, select {
	color: #444;
    border: 1px solid black;
	background: #ffc;
	padding: 0px;
	margin: 0px;
}

.target_group {
	font-weight: bold;
	font-size: 150%;
}

a {
	color: #44a;
}

a:hover {
	color: #004;
}

.path,
.search,
.member table,
.new_tag_key_value,
.tag_list table {
	width: 95%;
	color: #444;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
	border-left: none;
	border-right: none;
	background: #ffa;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
}

p {
	margin-top: 2px;
	margin-bottom: 2px;
}

