root { 
    display: block;
}

.path {
	color: #444;
    border: 2px solid black;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #ffa;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

input, select {
	color: #444;
    border: 1px solid black;
	background: #ffc;
	
}

.target {
	font-weight: bold;
	font-size: 150%;
}

.search {
	color: #444;
    border: 2px solid black;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #ffa;
	padding-left: 4px;
	padding-right: 4px;
}

.member table {
	color: #444;
    border: 2px solid black;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #ffa;
	width: 100%;
	padding-left: 4px;
	padding-right: 4px;
}

p {
	margin-top: 2px;
	margin-bottom: 2px;
}

