root { 
	display: block;
}

body {
	font: 12pt times, serif;
}

input,
select {
	color: #444;
	border: 1px solid black;
	background: #eef;
	padding: 0px;
	margin: 0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

input:hover,
select:hover {
	background: #fff;
}
input:focus,
select:focus {
	background: #fff;
}


.target_group {
	font-weight: bold;
	font-size: 120%;
}

a {
	color: #44a;
	text-decoration: none;
}

a:hover {
	color: #008;
	text-decoration: underline;
}

/* user login formatting */
.user_wrapper {
	width: 100%;
	color: #444;
	border: 1px solid #88a;
	background: #cdc;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.user_name,
.password {
	float: left;
	margin-right: 6px;
}

/* main portion of screen formatting */
.path,
.search,
.member_action_list,
.new_tag_key_value,
.tag_list_container {
	width: 100%;
	color: #444;
	border-top: 2px solid #88a;
	border-bottom: none;
	border-left: none;
	border-right: none;
	background: #ddf;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.path:hover,
.search:hover,
.member_action_list:hover,
.new_tag_key_value:hover,
.tag_list_container:hover {
	background: #e0e0f8;
}

.new_tag_key,
.new_tag_value {
	float: left;
	margin-right: 6px;
}

p {
	margin-top: 2px;
	margin-bottom: 2px;
}

