%a.button#homeButton{:href=>"#vertical_list"} Inscryb Near Me
%a.button#mapButton{:onclick=>"javascript:show_map_results()"} Map
%a.button#aboutButton About
%h1#pageTitle
%ul#vertical_list{:title=>"Inscryb Near Me",:selected=>"true"}
%div#map{:title=>"Map"}
  %div{:style=>"position:relative; width: 300px; height: 300px;"}
    %div#map_canvas{:style=>"width: 300px; height: 300px;"}
%ul#results{:title=>"Search Results"}
%ul#place{:title=>"Place"}
  %span#guid_place{}
  %img#spinner{:src=>'images/spinner.gif'}
  %textarea#question_box{:rows => 6, :cols => 30}
  %br
  %input#ask_button{:type => 'button', :value => 'Ask'}

%ul#about{:title=>"About"}
  %li#about_text
    Inscryb allows you to add contacts, descriptions,
    and actions for your place of business.
    %ul
      %li
        People can be messaged by the public in the context of their profession.
        You can also designate departments for handling issues or questions.
      %li
        Descriptions can include relevant information for venue clients.
      %li
        Actions allow venue clients to connect to the venue owner's site to
        purchase goods and services, pay rent, or reserve space.

  %li#contact_links
    %span
      Follow this project on
      %a#twitter_link{:style=>'cursor:pointer;'} Twitter
